<td role="gridcell">
  <a href="{{html_url}}" id="wiki_page_index_item_title_{{page_id}}" class="wiki-page-link{{#if CAN.PUBLISH}} {{#unless published}}un{{/unless}}published{{/if}}">{{title}}</a>
  {{#if front_page}}
    <span class="front-page label">{{#t 'labels.front_page'}}Front Page{{/t}}</span>
  {{/if}}
</td>
<td role="gridcell">{{tDateToString created_at "medium"}}</td>
<td role="gridcell">{{tDateToString updated_at "medium"}}{{#if last_edited_by.display_name}} by {{last_edited_by.display_name}}{{/if}}</td>
{{#if CAN.MANAGE}}
  <td role="gridcell" class="master-content-lock-cell"></td>
  {{#if CAN.PUBLISH}}
    <td role="gridcell" class="publish-cell"></td>
  {{/if}}
  <td role="gridcell">
    <div class="inline-block">
      <a id="{{page_id}}" aria-label="{{title}}" class="al-trigger al-trigger-gray" href="#" role="button" data-popup-within="#application">
        <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
        <span class="screenreader-only">{{#t 'menu.settings'}}Settings{{/t}}</span>
      </a>
      <ul class="al-options">
        {{#unless cannot_edit_by_master_course}}
          <li><a href="#" class="icon-edit edit-menu-item" title="{{#t}}Edit{{/t}}">{{#t}}Edit{{/t}}</a></li>
          <li>
            <a href="#" class="icon-trash delete-menu-item{{#unless deletable}} disabled{{/unless}}"
               title="{{#t}}Delete {{title}}{{/t}}" {{#unless deletable}}aria-disabled="true"{{/unless}}>
               {{#t}}Delete{{/t}}
            </a>
          </li>
        {{/unless}}
        {{#unless front_page}}
          <li>
            <a href="#" class="icon-document use-as-front-page-menu-item{{#unless published}} disabled{{/unless}}"
               title="{{#t}}Use as Front Page{{/t}}" {{#unless published}}aria-disabled="true"{{/unless}}>
               {{#t}}Use as Front Page{{/t}}
            </a>
          </li>
        {{/unless}}
        {{#if CAN.DUPLICATE}}
          <li>
            <a href="#" class="icon-copy-course duplicate-wiki-page" title="{{#t}}Duplicate{{/t}}">
              {{#t}}Duplicate{{/t}}
            </a>
          </li>
        {{/if}}
        {{>ExternalTools/external_tools_menu wiki_page_menu_tools}}
      </ul>
    </div>
  </td>
{{/if}}
